<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Bootstrap Studio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  
  <style>
	#x1{
	background-color:white;
	border-radius:20px;
	}
	
	#x2{
	background-color:#efffa8;
	border-radius:20px;
	}
	
	
	
  
  </style>
  
</head>
<body style="background: #CB356B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">





<div class="jumbotron text-center" style="background: #CB356B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

color:white;">
  <h1 style="font-family: 'Pacifico', cursive;">The Bootstrap Studio</h1><br>
  <p>Website Templates  |  Free  |  Single Page Templates</p>  <br>
  <h4>
	<nav class="navbar navbar-default"> 
		<div class="container-fluid"> 
			<div class="navbar-header"> 
				<a class="navbar-brand" href="./index.html">The Bootstrap Studio</a> 
		</div> 
			<ul class="nav navbar-nav "> 
				<li>
					<a href="../index.html">Home</a>
				</li> 
				<li class="active">
					<a href="../dashboard/dashboard.html">Dashboard</a>
				</li> 
			</ul> 
		</div> 
	</nav>
  </h4>
</div>
  
<div class="container">
  <div class="row">
  
  
  
  
  
  
  	<!-- FIRST COLUMN STARTS HERE -->
  
  
  
  
  
  
    <div class="col-sm-4" >
	
		<div id="x1" class="col-sm-12"><br>
				<h2>One Page Wonder</h2>
				<h5> Single-Page Website Template </h5><hr>
				<form method="get" action="https://github.com/peachananr/onepage-scroll/archive/master.zip">
					<i>Screenshots:</i>
					<a href="./img/one-page/001.png" 
						onclick="window.open(this.href,'popUpWindow','scrollbars=yes,menubar=no'); return false;">
							<img src="./img/one-page/001.png" 
							class="img img-responsive"/>
					</a> <hr>
					<a href="./img/one-page/002.png" 
						onclick="window.open(this.href,'popUpWindow','scrollbars=yes,menubar=no'); return false;">
							<img src="./img/one-page/002.png" 
							class="img img-responsive"/>
					</a> 
					<br><br>
					<button type="submit"><b>Download this template for free!</b></button>
					<br><br>
				</form>
				<h4><u> Features</u></h4>
				</h5>
					<ul>
						<li> Bootstrap Responsive </li>
						<li> Free Download </li>
						<li> Opensource </li>
						<li> Clean & Optimised code </li>
						<li> Best pick for quick & easy development </li>
					</ul>
				</h5><br>
				<center>
			</center>
		</div>
		
		
		
		<div id="x2" class="col-sm-12"><br>
				<h2>We Build Brand</h2>
				<h5> Single-Page Website Template </h5><hr>
				<form method="get" action="https://github.com/website-templates/design-studio_one-page-template/archive/master.zip">
					<i>Screenshots:</i>
					<a href="./img/one-page/003.png" 
						onclick="window.open(this.href,'popUpWindow','scrollbars=yes,menubar=no'); return false;">
							<img src="./img/one-page/003.png" 
							class="img img-responsive"/>
					</a> <hr>
					<a href="./img/one-page/004.png" 
						onclick="window.open(this.href,'popUpWindow','scrollbars=yes,menubar=no'); return false;">
							<img src="./img/one-page/004.png" 
							class="img img-responsive"/>
					</a> 
					<br><br>
					<button type="submit"><b>Download this template for free!</b></button><br>
					
					<br><br>
				</form>
				
				Demo:
				<a href="http://website-templates.github.io/design-studio_one-page-template/home.html" onclick="window.open(this.href,'popUpWindow','scrollbars=yes,menubar=no'); return false;"> 
					Click here for a Quick Demo 
				</a>
				<h4><br><u> Features</u></h4>
				</h5>
					<ul>
						<li> Bootstrap Responsive </li>
						<li> Free Download </li>
						<li> Opensource </li>
						<li> Clean & Optimised code </li>
						<li> Best pick for quick & easy development </li>
					</ul>
				</h5><br>
				<center>
			</center>
		</div>
		
		
		
		
		
	</div>
	
	
	
	
	
	
	
	
	
	<!-- FIRST COLUMN ENDS HERE -->
	<!-- SECOND COLUMN STARTS HERE -->
	
	
	
	
	
	
	
	
	
	
	
	
    <div class="col-sm-4" >
	
		<div id="x1" class="col-sm-12"><br>
				<h2>The Personal Page</h2>
				<h5> Single-Page Website Template </h5><hr>
				<form method="get" action="https://github.com/weightshift/The-Personal-Page/archive/master.zip">
					<i>Screenshots:</i>
					<a href="./img/one-page/005.png" 
						onclick="window.open(this.href,'popUpWindow','scrollbars=yes,menubar=no'); return false;">
							<img src="./img/one-page/005.png" 
							class="img img-responsive"/>
					</a> <hr>
					<br>
					<button type="submit"><b>Download this template for free!</b></button>
					<br><br>
				</form>
				<h4><u> Features</u></h4>
				</h5>
					<ul>
						<li> Bootstrap Responsive </li>
						<li> Free Download </li>
						<li> Opensource </li>
						<li> Clean & Optimised code </li>
						<li> Best pick for quick & easy development </li>
					</ul>
				</h5><br>
				<center>
			</center>
		</div>
		
		<br><br><br>
		
		<div id="x2" class="col-sm-12"><br>
				<h2>Scrolling Nav</h2>
				<h5> Single-Page Website Template </h5><hr>
				<form method="get" action="https://github.com/BlackrockDigital/startbootstrap-scrolling-nav/archive/master.zip">
					<i>Screenshots:</i>
					<a href="./img/one-page/008.png" 
						onclick="window.open(this.href,'popUpWindow','scrollbars=yes,menubar=no'); return false;">
							<img src="./img/one-page/008.png" 
							class="img img-responsive"/>
					</a> <hr>
					<a href="./img/one-page/009.png" 
						onclick="window.open(this.href,'popUpWindow','scrollbars=yes,menubar=no'); return false;">
							<img src="./img/one-page/009.png" 
							class="img img-responsive"/>
					</a> 
					<br><br>
					<button type="submit"><b>Download this template for free!</b></button>
					<br><br>
				</form>
				Demo:
				<a href="https://blackrockdigital.github.io/startbootstrap-scrolling-nav/" onclick="window.open(this.href,'popUpWindow','scrollbars=yes,menubar=no'); return false;"> 
					Click here for a Quick Demo 
				</a>
				
				<h4><u> Features</u></h4>
				</h5>
					<ul>
						<li> Bootstrap Responsive </li>
						<li> Free Download </li>
						<li> Opensource </li>
						<li> Clean & Optimised code </li>
						<li> Best pick for quick & easy development </li>
					</ul>
				</h5><br>
				<center>
			</center>
		</div>
		
		
		
		
		
		
	</div>
	
	
	
	
	
	
	
	<!-- SECOND COLUMN ENDS HERE -->
	<!-- THIRD COLUMN STARTS HERE -->
	
	
	
	
	
	
	
    <div class="col-sm-4" >
	
		<div id="x1" class="col-sm-12"><br>
				<h2>Project Management Consultant</h2>
				<h5> Single-Page Website Template </h5><hr>
				<form method="get" action="https://github.com/website-templates/portfolio_one-page-template/archive/master.zip">
					<i>Screenshots:</i>
					<a href="./img/one-page/006.png" 
						onclick="window.open(this.href,'popUpWindow','scrollbars=yes,menubar=no'); return false;">
							<img src="./img/one-page/006.png" 
							class="img img-responsive"/>
					</a> <hr>
					<a href="./img/one-page/007.png" 
						onclick="window.open(this.href,'popUpWindow','scrollbars=yes,menubar=no'); return false;">
							<img src="./img/one-page/007.png" 
							class="img img-responsive"/>
					</a> 
					<br><br>
					<button type="submit"><b>Download this template for free!</b></button>
					<br><br>
				</form>
				Demo:
				<a href="https://website-templates.github.io/portfolio_one-page-template/" onclick="window.open(this.href,'popUpWindow','scrollbars=yes,menubar=no'); return false;"> 
					Click here for a Quick Demo 
				</a>
				
				<h4><u> Features</u></h4>
				</h5>
					<ul>
						<li> Bootstrap Responsive </li>
						<li> Free Download </li>
						<li> Opensource </li>
						<li> Clean & Optimised code </li>
						<li> Best pick for quick & easy development </li>
					</ul>
				</h5><br>
				<center>
			</center>
		</div>
		
		<br><br><br>
		
		<div id="x2" class="col-sm-12"><br>
				<h2>Michael's Delivery</h2>
				<h5> Single-Page Website Template </h5><hr>
				<form method="get" action="https://github.com/website-templates/portfolio_one-page-template/archive/master.zip">
					<i>Screenshots:</i>
					<a href="./img/one-page/010.png" 
						onclick="window.open(this.href,'popUpWindow','scrollbars=yes,menubar=no'); return false;">
							<img src="./img/one-page/010.png" 
							class="img img-responsive"/>
					</a> <hr>
					<a href="./img/one-page/011.png" 
						onclick="window.open(this.href,'popUpWindow','scrollbars=yes,menubar=no'); return false;">
							<img src="./img/one-page/011.png" 
							class="img img-responsive"/>
					</a> 
					<br><br>
					<button type="submit"><b>Download this template for free!</b></button>
					<br><br>
				</form>
				Demo:
				<a href="https://mikethedj4.github.io/" onclick="window.open(this.href,'popUpWindow','scrollbars=yes,menubar=no'); return false;"> 
					Click here for a Quick Demo 
				</a>
				
				<h4><u> Features</u></h4>
				</h5>
					<ul>
						<li> Bootstrap Responsive </li>
						<li> Free Download </li>
						<li> Opensource </li>
						<li> Clean & Optimised code </li>
						<li> Best pick for quick & easy development </li>
					</ul>
				</h5><br>
				<center>
			</center>
		</div>

		
		
	</div>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
			
	<!-- THIRD COLUMN ENDS HERE -->
		
		
		
		
		
		
		
		
		
		
    </div>
  </div>
</div>

</body>
</html>